<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itcast.myweb.mapper.BehaviorMapper">


<!--    根据用户id查询用户偏好分类（前三）    -->
    <select id="selectByUserId" resultType="java.util.Map" statementType="CALLABLE">
        {call get_user_preference(#{userIdInt,jdbcType=INTEGER,mode=IN})}
    </select>


</mapper>