<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itcast.myweb.mapper.ItemMapper">


    <!--    查询商品列表    -->
    <select id="selectHotList" resultType="com.itcast.myweb.DTO.ItemDTO">
        select id, image, title, price, sales,category_id
        from item
        order by recent_sales desc
        limit #{count}
    </select>


    <!--    根据销售量查询商品列表    -->
    <select id="selectBySales" resultType="com.itcast.myweb.DTO.ItemDTO">
        select id, image, title, price, sales,category_id
        from item
        order by sales desc
        limit #{count}
    </select>

    <!--    根据用户偏好查询商品列表    -->
    <select id="selectByReference" resultType="com.itcast.myweb.DTO.ItemDTO">
        select id, image, title, price, sales
        from item
        where category_id in
        <foreach collection="categoryIdList" item="categoryId" open="(" close=")" separator=",">
            #{categoryId}
        </foreach>
        order by recent_sales desc
        limit #{count}
    </select>


</mapper>