<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itcast.myweb.mapper.MerchantMapper">

<!--    注册商户-->
    <insert id="register" parameterType="com.itcast.myweb.DTO.RegisterDTO">
        insert into merchant(merchant_name, contact_name, contact_phone, address, is_valid, notify_type,notify_phone)
        values (#{merchantName}, #{contactName}, #{contactPhone}, #{address}, 1, 2, #{notifyPhone})
    </insert>


<!--    根据联系人手机号查询商户-->
    <select id="getByPhone" parameterType="java.lang.String" resultType="com.itcast.myweb.entity.Merchant">
        select id, merchant_name, contact_name, contact_phone, address, is_valid, notify_type, notify_phone from merchant where contact_phone = #{contactPhone}
    </select>


</mapper>