<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itcast.myweb.mapper.SpecValueMapper">


<!--    新增规格值-->
    <insert id="addSpecValue" parameterType="com.itcast.myweb.DTO.SpecValueDTO">
        insert into spec_value(template_id,spec_item_id,spec_value,sort) values(#{templateId},#{specItemId},#{specValue},#{sort})
    </insert>


<!--    根据ids查询规格值-->
    <select id="listSpecValue" parameterType="java.util.List" resultType="com.itcast.myweb.entity.SpecValue">
    select id,template_id as templateId,spec_item_id as specItemId,spec_value as specValue,sort from spec_value where id in
    <foreach item="item" collection="list" separator="," open="(" close=")">
        #{item}
    </foreach>
</select>


<!--    根据id更新规格值-->
    <update id="updateSpecValue" parameterType="com.itcast.myweb.DTO.SpecValueDTO">
        update spec_value
        <set>
            <if test="templateId != null">
                template_id = #{templateId},
            </if>
            <if test="specItemId != null">
                spec_item_id = #{specItemId},
            </if>
            <if test="specValue != null and specValue != ''">
                spec_value = #{specValue},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
        </set>
        where id = #{id}
    </update>




</mapper>